!/18b20/*.c
!/18b20/nbproject/
!/18b20/Makefile
!/18b20/Eagle/
!/18b20/Photos/
/18b20/18b20.X/debug/

I2C_PCF8563_LCD.X/*
!I2C_PCF8563_LCD.X/*.c
!I2C_PCF8563_LCD.X/*.h
!I2C_PCF8563_LCD.X/*.md
!I2C_PCF8563_LCD.X/photo/*.jpg
!I2C_PCF8563_LCD.X/photo/*.png


/YT_tutorials/02-flashing_led.X/build
/YT_tutorials/02-flashing_led.X/debug
/YT_tutorials/02-flashing_led.X/dist
/YT_tutorials/02-flashing_led.X/nbproject
/YT_tutorials/02-flashing_led.X/Makefile
MPLAB_XC8_C_Compiler_User_Guide_for_PIC.pdf